tag { 
    property: value; 
}

body { 
    margin: 0; 
    padding: 0: 
}

main { 
    padding: 16px; 
}

footer { 
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    background-color: #6ec2b1; 
}

img { 
    height: 200px;
}

nav { 
    border-bottom: black 1px;
    padding: 16px; 
    background-color: #ff7b7b; 
}

.recipe-list { 
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
}

a { 
    color: green; 
    text-decoration: none;
}

h1 { 
    color: 	#0f8a5f;  
}

.main-link { 
    color: white; 
}

.ingredient-table:nth-child(even) { 
    background-color: grey; 
}
